@model IEnumerable<CentrumAdopcyjneZwierzat.Models.AdoptionCenter.Dog>
@using Microsoft.AspNetCore.Identity
@using CentrumAdopcyjneZwierzat.Models.User
@using CentrumAdopcyjneZwierzat.Models.AdoptionCenter
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Dogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dogs</h1>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create" asp-controller="Dogs">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DogId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DogName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DogBirthYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogBirthYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerId)
            </td>

            <td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                {
                    <a class="mr-1" asp-action="Edit" asp-route-id="@item.DogId">Edit</a>
                    <a class="mr-1" asp-action="Delete" asp-route-id="@item.DogId">Delete</a>
                }
                <a asp-action="Details" asp-route-id="@item.DogId">Details</a>
            </td>


        </tr>
        }
    </tbody>
</table>
