@model IEnumerable<CentrumAdopcyjneZwierzat.Models.AdoptionCenter.Box>

@{
    ViewData["Title"] = "Boxes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Boxes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BoxId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoxName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoxAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BoxId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoxName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoxAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BoxId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BoxId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BoxId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
